:root {
    --primary-color: brown;
    --primary-color-back: rgb(155, 80, 80);
    --primary-color: rgb(133, 0, 0);
    /* --primary-color-back: rgb(255, 141, 141); */
    --grey-color: rgb(200, 200, 200);
}
* {
    transition-property: all;
    transition: ease-in-out;
    transition-duration: 0.8s;
}
html,
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
footer {
    background-color: var(--grey-color);
    position: sticky;
    bottom: 0;
    margin-top: auto;
}
a {
    color: black !important;
    text-decoration: none !important;
}

nav > a[href]:hover {
    background-color: var(--primary-color-back);
}
.card:hover {
    border: 0.2rem solid var(--primary-color) !important;
}
.card {
    padding: 0.1em 0.3em;
    margin: 0.5em 0em;
    border: 0.2rem solid var(--grey-color) !important;
    cursor: pointer;
    position: relative;
}

.card-content-list {
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.card-content-list.visible {
    opacity: 1;
    visibility: visible;
}
li > a[href]:hover > div {
    background-color: var(--grey-color);
    border-radius: 0.3rem;
    color: var(--primary-color);
}
header {
    background-color: var(--grey-color);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    /* gap: 0.5em; */
}
header > h2 {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color-back);
    font-weight: bold;
    padding: 0.1em;
}
h3 {
    color: var(--primary-color);
    border-bottom: solid 2px;
    border-color: var(--primary-color);
    padding-bottom: 0.3em;
}
nav {
    width: 80%;
}
nav > a {
    padding: 0.1em 0.7em;
    border-radius: 1em;
    margin-bottom: 0.5rem;
    text-align: center;
}
.realisation {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.row {
    margin: 0em !important;
}
/* .card-entreprise {
    text-align: end;
} */
.card-date {
    text-align: end;
}

main section li a::before {
    content: '•';
    position: absolute;
    left: 1.5rem;
}
main section li a div {
    padding: 0rem 0.3rem;
}
main section li a[href] div {
    color: var(--primary-color);
    text-decoration: underline;
}
main section li a[href]::before {
    content: url('./images/link-solid.svg');
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 1rem;
}
ul > li {
    list-style: none;
}
.card-content {
    max-width: 100%;
}
.card-content-div {
    position: relative;
}

.active {
    background-color: var(--primary-color-back);
}
form {
    padding: 1rem;
}
.form-group {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 0.2em;
}
label {
    text-align: end;
    padding: 0rem 0.3rem;
}
